.requestSection {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 50%;
    height: calc(100vh - 2rem - 3.75rem);
    justify-content: space-between;
    &__code {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: cornsilk;
        height: 50%;
        button {
            height: 20px;
        }
    }
    &__varHead {
        display: flex;
        flex-direction: row;
        background-color: blanchedalmond;
        height: 50%;
        justify-content: space-between;
    }
}