.graphiContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    &__docs{
        display: flex;
        flex-direction: row;
    }
    &__reqResp{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
